<h1><%= @book.title %> Details</h1>


<form action="/books/<%= @book.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete book</button>
</form>


<a href="/books">Return to book list</a>
